* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
    
  .Forgetpassword{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #42f42776;
  }
  .Forgetcontainer {
    position: absolute;
    width: 100%;
    display: flex;
    max-width: 300px;
    background: #fff;
    border-radius: 15px;
    right: 200px;
  }
  
  .forgetpassword h1 {
    margin: 20px;
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 20px;
  }
    
  .forgetpassword{
    width: 400px;
  }
  .forgetcontainer hr {
    border-top: 3px solid rgb(255, 162, 0);
  }
   
  .forgetpassword form {
    width: 250px;
    margin: 60px auto;
  }
  .forgetpassword h1 {
    margin: 20px;
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
  }
  .forgetpassword hr {
    border-top: 3px solid rgb(255, 162, 0);
  }
  
  .forgetpassword form label {
    display: block;
    font-size: 16px;
    font-weight: 600;
    padding: 5px;
    margin-top: 8px;
  }
  
  .Forgetpassword .forgetpassword input {
    width: 100%;
    margin: 2px;
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 9px;
    border: 1px solid gray;
  }
  .back {
    border: none;
    outline: none;
    padding: 8px;
    width: 100%;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 8px;
    background: orange;
  }
  .reset {
    display: inline;
    margin-bottom: cpx;
    border: none;
    outline: none;
    padding: 8px;
    width: 100%;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 8px;
    background: orange;
  
  }
