
.PassengerTitle h2{
    position:absolute;
    top: 40px;
    left: 150px;
}
.PassengerBody{
    height: 100vh;
    width: 100vw;
    background-size: cover;
    
}
.PassengerBox{
    position:absolute;
    top: 50px;
    right: 350px;
        border-radius: 20px;
    box-shadow: rgba(30, 30, 34, 0.1) 0px 1px 0px, rgba(23, 23, 24, 0.1) 0px 8px 24px, rgba(36, 36, 51, 0.1) 0px 16px 48px;   
     height: 650px;
    width: 830px;
    margin-top: 70px;
}

.Trainno2{
    position: absolute;
    top: 50px;
    left: 70px;

}
.passenger_name2{
    position: absolute;
   top: 50px;
   right: 70px;
}
.travellingdate2{
    position: absolute;
    top: 90px;
    left: 70px;

}
.no_of_adults2{
    position: absolute;
    top: 180px;
    right: 140px;

}
 .no_of_childs2{
    position: absolute;
    top: 130px;
    left: 70px;
   
}
 .passenger_age2{
    position: absolute;
    top: 130px;
    right: 70px;
}
 .passenger_gender2{
    position: absolute;
    top: 170px;
    left: 70px;
   
}
.prefered_coach2{
    position: absolute;
    top: 170px;
    right: 70px;
}
.prefered_class2{
    position: absolute;
    top: 210px;
    left: 70px;
}
.prefered_seat2{
    position: absolute;
    top: 210px;
    right: 70px;

}
 .depature2{
    position: absolute;
    top: 250px;
    left: 70px;
}
 .arrival2{
    position: absolute;
    top: 250px;
    right: 70px;
}
.passengerdetailsbutton1{
    position: absolute;
    top: 50px;
    right: 20px;
    border: none;

    
}
.saving{
    background-color:  bisque;
    position: absolute;
    top: 580px;
}