@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@700&family=Averia+Serif+Libre&family=Bree+Serif&family=Enriqueta&family=Fredoka+One&family=Inconsolata:wght@800&family=Libre+Baskerville:ital@1&family=Londrina+Shadow&family=Lora:ital,wght@0,500;0,600;0,700;1,500;1,700&family=Merriweather:ital,wght@0,900;1,300;1,900&family=Overlock:wght@400;900&family=Petit+Formal+Script&family=Rampart+One&family=Signika+Negative:wght@500&family=Source+Serif+Pro:ital,wght@1,700&family=Trirong:wght@100&display=swap');
.TrainbookTitle h2{
    position:absolute;
    font-family: 'Rampart One', cursive;
    font-display: optional;

    left: 250px;
    top: 40px;
}
.bookingticketbody{
    height: 100vh;
    width: 100vw;
    background-image: url("https://th.bing.com/th/id/R.fd1668c7871c74b3d849a4dc8091f440?rik=LP5IjTmdm%2fhjuQ&riu=http%3a%2f%2fgetwallpapers.com%2fwallpaper%2ffull%2fd%2fb%2f5%2f768517-gorgerous-train-desktop-wallpaper-1920x1080-for-samsung.jpg&ehk=8UyCaEe7Pa%2fcmfDqCEO3FX5A3NwdWPN2%2fSpbgip3EBg%3d&risl=&pid=ImgRaw&r=0");
   background-size: cover;
}
.TrainBookBody{
    position:absolute;
    top: 70px;
    right: 300px;
    background-color: rgba(255, 255, 255, 0.825);
    /* background: linear-gradient(217deg, rgba(255, 0, 0, 0.737), rgba(255,0,0,0) 70.71%),            
                linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),           
                linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%); */
    border-radius: 20px;
    box-shadow: rgba(255, 255, 255, 0.822) 0px 1px 0px, rgba(244, 244, 246, 0.767) 0px 8px 24px, rgba(226, 226, 252, 0.838) 0px 16px 48px;   
     height: 700px;
    width: 930px;
}
.Trainno1{
    position: absolute;
    top: 50px;
    left: 70px;
   

}
 .passenger_name1{
    position: absolute;
   top: 50px;
   right: 70px;
}
.travellingdate1{
    position: absolute;
  top: 180px;
  left: 140px;

}
.no_of_adults1{
    position: absolute;
    top: 180px;
    right: 140px;

}
 .no_of_childs1{
    position: absolute;
    top: 260px;
    left: 140px;
   
}
 .passenger_age1{
    position: absolute;
   top: 260px;
   right: 140px;
}
 .passenger_gender1{
    position: absolute;
    top: 340px;
    left: 140px;
   
}
.prefered_coach1{
    position: absolute;
    top: 340px;
    right: 140px;
}
 .prefered_class1{
    position: absolute;
    top: 420px;
    left: 140px;
}
 .prefered_seat1{
    position: absolute;
    top: 420px;
    right: 140px;

}
 .depature1{
    position: absolute;
    top: 500px;
    left: 140px;
   
}
 .arrival1{
    position: absolute;
    top: 500px;
    right: 140px;
}
.savebutton .saving{
    position: absolute;
    bottom: 50px;
    right: 300px;
    color: rgb(0, 0, 0);
    background-color:#5083b0;
}
.passengerdetailsbutton{
    position: absolute;
    top: 50px;
    right: 20px;
    background-color: rgb(0, 255, 42);

    
}